<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación compra</title>
  <link rel="stylesheet" href="../css/confirmacion_compra.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body>
<header>
  <nav> 
      <a href="../index.html" class="logo">
          <img src="../assets/QUALITY_CARS_fons_clar_transparent.png" alt="logo">
      </a>
      <input type="checkbox" id="menu_desplegable_box">
      <label for="menu_desplegable_box" class="icono_menu">
          <img src="../assets/menu_desplegable.png" alt="img_menu">
      </label>
      <div class="menu"> 
          <div class="texto_menu">
              <ul>
                  <li><a href="../index.html"><input type="button" value="Home"></a></li>
                  <li><a href="../views/listado_productos.html"><input type="button" value="Buscar coches"></a></li>
                  <li><a href="../views/carrito.html"><input type="button" value="Carrito de compra"></a></li>
              </ul>
          </div>
      </div>
  </nav>
</header>
<main>
  <div class="titulo_confirmacion_compra">
    <h2>Compra realizada con éxito</h2>
  </div>
  <div class="info">
    <div class="info_pedido">
      <div class="titulo_pedido">
        <h3>Pedido</h3>
      </div>
      <div class="contenido_pedido">
        <div class="fecha_compra">
          <h4>Fecha de compra:</h4>
          <p>21/04/2024</p>
        </div>
        <div class="numero_seguimuiento">
          <h4>Número de seguimiento:</h4>
          <p>F258396282</p>
        </div>
        <div class="estado">
          <h4>Estado:</h4>
          <p>Pendiente de preparación</p>
        </div>
        <div class="importe_total">
          <h4>Importe total:</h4>
          <p>10.099€</p>
        </div>
      </div>
    </div>

    <div class="info_usuario">
      <div class="titulo_usuario">
        <h3>Usuario</h3>
      </div>
      <div class="contenido_usuario">
        <div class="nombre">
          <h4>Nombre:</h4>
          <p>Alberto</p>
        </div>
        <div class="apellidos">
          <h4>Apellidos:</h4>
          <p>González Díaz</p>
        </div>
        <div class="telefono">
          <h4>Teléfono:</h4>
          <p>626383849</p>
        </div>
        <div class="direccion">
          <h4>Dirección:</h4>
          <p>c/La Moncloa, 84, Madrid</p>
        </div>
      </div>
    </div>

  <div class="info_comentarios">
    <div class="titulo_comentarios">
      <h3>Comentarios</h3>
    </div>
    <div class="contenido_comentarios">
      <input type="text">
    </div>
  </div>
  </div>
</main>
</body>