<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../css/detalles_producto.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body>
  <header>
    <nav> 
        <a href="../index.html" class="logo">
            <img src="../assets/QUALITY_CARS_fons_clar_transparent.png" alt="logo">
        </a>
        <input type="checkbox" id="menu_desplegable_box">
        <label for="menu_desplegable_box" class="icono_menu">
            <img src="../assets/menu_desplegable.png" alt="img_menu">
        </label>
        <div class="menu"> 
            <div class="texto_menu">
                <ul>
                    <li><a href="../index.html"><input type="button" value="Home"></a></li>
                    <li><a href="../views/listado_productos.html"><input type="button" value="Buscar coches"></a></li>
                    <li><a href="../views/carrito.html"><input type="button" value="Carrito de compra"></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

    <main>
      <article>
        <div class="imagen_producto">
          <img src="../assets/vw_golf_2018.jpg" alt="vw_golf_2018">
        </div>
        <div class="carta_producto">
            <span class="nombre_producto">
              <h2>VOLKSWAGEN Golf Advance 100CV</h2>
            </span>
            <span class="precio_producto">
              <h2>10.099€</h2>
            </span>
          <div class="detalles_producto">
            <div class="detalles_1">
              <h2>Detalles</h2>
              <p>VOLKSWAGEN Golf Advance 1.0 TSI 81kW 100CV 5p.</p>
            </div>
            <div class="detalles_2">
              <div class="año_detalles">
                <h3>Año</h3>
              <p>2018</p>
              </div>
              <div class="km_detalles">
                <h3>Kilómetros</h3>
                <p>100.002</p>
              </div>
            </div>
            <div class="detalles_3">
              <div class="combustible_detalles">
                <h3>Combustible</h3>
                <p>Gasolina</p>
              </div>
              <div class="ubicacion_detalles">
                <h3>Ubicación</h3>
                <p>Ciudadela</p>
              </div>
            </div>
            <div class="detalles_4">
              <div class="cv_detalles">
                <h3>CV</h3>
                <p>100</p>
              </div>
              <div class="tipo_detalles">
                <h3>Tipo</h3>
                <p>Berlina</p>
              </div>
            </div>
            <div class="comentarios">
              <h2>Comentarios</h2>
              <input type="text">
            </div>
          </div>
        </div>
        <div class="boton_comprar">
          <input type="button" value="Comprar">
        </div>
      </article>

      
    </main>
</body>
</html>