<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coches disponibles</title>
    <link rel="stylesheet" href="../css/listado_productos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body>
    <header>
        <nav> 
            <a href="./index.html" class="logo">
                <img src="../assets/QUALITY_CARS_fons_clar_transparent.png" alt="logo">
            </a>
            <a class="icono_menu">
                <img src="../assets/menu_desplegable.png" alt="menu_desplegable">
            </a>
            <div class="menu">
                <div class="iconos_menu">
                    <img src="../assets/home.png" alt="home">
                    <img src="../assets/carrito_compra.png" alt="carrito_compra">
                    <img src="../assets/coche.png" alt="coche">
                </div> 
                <div class="texto_menu">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../views/listado_productos.html">Buscar coches</a></li>
                        <li><a href="../views/carrito.html">Carrito de compra</a></li>
                    </ul>
                </div>
            </div>
            <div class="filtros">
                <button>Filtros
                    <img src="../assets/filtro.png" alt="filtro">
                </button>
                <ul class="opciones_filtro">
                    <a>Eliminar filtros
                        <img src="../assets/x.png" alt="x">
                    </a>

                    <select name="tipo">
                        <option value="tipo1">tipo1</option>
                        <option value="tipo2">tipo2</option>
                    </select>
                    <select name="marca">
                        <option value="marca1">marca1</option>
                        <option value="marca2">marca2</option>
                    </select>
                    <select name="modelo">
                        <option value="modelo1">modelo1</option>
                        <option value="modelo2">modelo2</option>
                    </select>
                    <select name="ubicacion">
                        <option value="ubicacion1">ubicacion1</option>
                        <option value="ubicacion2">ubicacion2</option>
                    </select>
                    
                    <select name="kilometros_desde">
                        <option value="kilometros_desde1">kilometros1</option>
                        <option value="kilometros_desde2">kilometros2</option>
                    </select>
                    <select name="kilometros_hasta">
                        <option value="kilometros_hasta1">kilometros1</option>
                        <option value="kilometros_hasta2">kilometros2</option>
                    </select>
                    
                    <select name="precio_desde">
                        <option value="precio_desde1">precio1</option>
                        <option value="precio_desde2">precio2</option>
                    </select>
                    <select name="precio_hasta">
                        <option value="precio_hasta1">precio1</option>
                        <option value="precio_hasta2">precio2</option>
                    </select>

                    <select name="año_desde">
                        <option value="año_desde1">año1</option>
                        <option value="año_desde2">año2</option>
                    </select>
                    <select name="año_hasta">
                        <option value="año_hasta1">año1</option>
                        <option value="año_hasta2">año2</option>
                    </select>

                    <button>Buscar</button>

                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <article>
                <div class="contenedor_imagen">
                    <img src="../assets/vw_golf_2018.jpg" alt="vs_golf_2018">
                </div>
                <div class="carta_producto">
                    <span class="precio_producto">10.099€</span>
                    <span class="nombre_producto">VOLKSWAGEN GOLF 100CV IPR</span>
                    <span class="km_producto">100.002km</span>
                    <span class="año_producto">2018</span>
                    <span class="ubicacion_producto">Ciudadela</span>
                </div>
                <div class="botón_detalles_producto">
                    <a href="../views/detalles_producto.html">Detalles</a>
                </div>
            </article>

        </section>

    </main>


</body>
</html>